body {
    background: #272822;
    color: white;
    font-family: monospace;
}

.keyword {
    color: #f92672;
    font-weight: bold;
}

.number {
    color: #ae81ff;
}

.operator {
    color: #66d9ef;
}

.comment {
    color: #75715e;
    font-style: italic;
}

.identifier {
    color: white;
}

.string {
    color: #e6db74;
}

.delimiter { 
    color: #a6e22e;
}

.unknown {
    color: #ff0000; 
    text-decoration: underline;
}
